<h1 class="text-center my-5">Registro de usuarios</h1>

<div class="row justify-content-center">
    <div class="col12 col-md-6">
        <form action="/auth/register" method="post">
            <input type="hidden" name="_csrf" value="{{csrfToken}}">
            <input 
            type="text" 
            name="userName" 
            class="form-control my-3" 
            placeholder="Ingrese su nombre..."
            >

            <input 
            type="text" 
            name="email" 
            class="form-control my-3" 
            placeholder="Ingrese su correo..."
            >
            <input 
            type="password" 
            name="password" 
            class="form-control my-3" 
            placeholder="Ingrese su clave..."
            >
            <input 
            type="password" 
            name="RePassword" 
            class="form-control my-3" 
            placeholder="Repita la clave..."
            >

            <button type="submit" class="btn btn-primary">Registrar Usuario</button>
        </form>
    </div>
</div>

